
.social-link {
    position: absolute;
    top:550px;
    transform: translate(-50%,-50%);
    font-size:60px;
    margin:0;
    padding:0 20px;
    color:#fff;
    font-family: 'Limelight', cursive;
}

.social-link:after, 
.social-link:before {
    position:absolute;
    content:'';
    font-size:30px;
}

.social-link:after{
    padding: 0 20px;
    z-index: -1;
    filter:blur(15px);
   
}

.social-link:before{
    width:100%;
    height:100%;
    z-index: -2;
    opacity:.5;
    filter: blur(40px);
}

.social-link:hover{
	font-size:80px;
    transition:1s;
}

/* Facebook */
.social-link--facebook {
    left:38%;
    text-shadow: 0 0 32px  blue;
}

.social-link--facebook:after{
    color:blue;   
}

.social-link--facebook:before{
    background:darkblue;
}

/* YouTube */
.social-link--youtube {
    left:44%;
    text-shadow: 0 0 32px  red;
}

.social-link--youtube:after{
    color:red;   
}

.social-link--youtube:before{
    background:darkred;
}


/*

.social-instagram li a:after
{
position:absolute;
padding: 0 20px;
z-index: -1;
color:yellow;
filter:blur(15px);
font-size:30px;
}

.social-instagram li a:before
{content:'';
position: absolute;
width:100%;
height:100%;
background:yellow;
z-index: -2;
opacity:.5;
filter: blur(40px);
font-size:30px;}

.social-instagram li a:hover{position:absolute;
	font-size:80px;
transition:1s;}


.social-twitter li a {
	position: absolute;
transform: translate(-50%,-50%);
top:550px;
left:55.5%;
margin:0;
padding:0 20px;
color:#fff;
text-shadow: 0 0 32px  cyan;
font-family: 'Limelight', cursive;}

.social-twitter li a:after
{
position:absolute;
padding: 0 20px;
z-index: -1;
color:cyan;
filter:blur(15px)
font-size:30px;
}

.social-twitter li a:before
{content:'';
position: absolute;
width:100%;
height:100%;
background:cyan;
z-index: -2;
opacity:.5;
filter: blur(40px);
font-size:30px;}

.social-twitter li a:hover{position:absolute;
	font-size:80px;
transition:1s;}



.social-pwa li a {
	position: absolute;
transform: translate(-50%,-50%);
top:550px;
left:61.5%;
margin:0;
padding:0 20px;
color:#fff;
text-shadow: 0 0 32px  green;
font-family: 'Limelight', cursive;}

.social-pwa li a:after
{
position:absolute;
padding: 0 20px;
z-index: -1;
color:green;
filter:blur(15px)
font-size:30px;
}

.social-pwa li a:before
{content:'';
position: absolute;
width:100%;
height:100%;
background:darkgreen;
z-index: -2;
opacity:.5;
filter: blur(40px);
font-size:30px;}

.social-pwa li a:hover{position:absolute;
	font-size:80px;
transition:1s;} */
