* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/BBB.png);
  background-size: cover;
  background-attachment: fixed;
  list-style-type: none;
  overflow-x: hidden;
}

ul li {
  margin: 20px;
}

ul li a {
  font-family: "Limelight", cursive;
  color: white;
  word-spacing: 20;
  font-size: 30px;
  text-shadow: 0 0 32px #08ff00;
  text-decoration: underline;
}

ul li a:hover {
  transition: 0.5s;
  font-size: 32px;
  color: white;
  text-decoration: underline;
  
}

/* ----------------------------------------- */

.container-fluid {
  padding: 0 180px;
}

.pwalogo {
  margin-top: -30px;
  height: 145px;
  width: 145px;
}

.uggmatt {
  height: 400px;
  width: 850px;
  color: #fff;
}

.next {
  color: #fff;
  text-shadow: 0 0 20px #08ff00;
  font-family: "Limelight", cursive;
}

.next:after {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #08ff00;
  filter: blur(15px);
}

.next:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px);
}

.Tickets {
  margin-top: 90px;
  color: #fff;
  font-family: "Limelight", cursive;
}

.Tickets a {
  color: white;
  font-size: 60px;
  padding: 20px;
  animation: neon 3s infinite;
  
}

:root {
  --shadow-color: #08ff00;
  --shadow-color-light: white;
}

.Tickets a:hover {
  transition: 0.5s;
  padding: 20px;
  font-size: 80px;
  text-decoration: none;
  color: white;
}
/* ------------------------------------------------ */



@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}


/* --------------------------------------------------- */
.join {
  margin-top: 90px;
}

.join p {
  font-size: 28px;
  color: #fff;
  text-shadow: 0px 0px 20px #08ff00;
  font-family: "Limelight", cursive;
}

.F li a {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 80px;
  left: 26.4%;
  margin: 0;
  padding: 0 20px;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 32px blue;
  font-family: "Limelight", cursive;
}

.F li a:after {
  position: absolute;
  padding: 0 20px;
  z-index: -1;
  color: blue;
  filter: blur(15px);
  font-size: 30px;
}

.F li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: darkblue;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px);
  font-size: 30px;
}

.F li a:hover {
  position: absolute;
  font-size: 80px;
  transition: 1s;
}

.Yo li a {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 80px;
  left: 32.3%;
  margin: 0;
  padding: 0 20px;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 32px red;
  font-family: "Limelight", cursive;
}

.Yo li a:after {
  position: absolute;
  padding: 0 20px;
  z-index: -1;
  color: red;
  filter: blur(15px);
  font-size: 30px;
}

.Yo li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: darkred;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px);
  font-size: 30px;
}

.Yo li a:hover {
  position: absolute;
  font-size: 80px;
  transition: 1s;
}

.i li a {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 80px;
  left: 38%;
  margin: 0;
  padding: 0 20px;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 32px yellow;
  font-family: "Limelight", cursive;
}

.i li a:after {
  position: absolute;
  padding: 0 20px;
  z-index: -1;
  color: yellow;
  filter: blur(15px);
  font-size: 30px;
}

.i li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: yellow;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px);
  font-size: 30px;
}

.i li a:hover {
  position: absolute;
  font-size: 80px;
  transition: 1s;
}

.t li a {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 80px;
  left: 44%;
  margin: 0;
  padding: 0 20px;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 32px cyan;
  font-family: "Limelight", cursive;
}

.t li a:after {
  position: absolute;
  padding: 0 20px;
  z-index: -1;
  color: cyan;
  filter: blur(15px);
  font-size: 30px;
}

.t li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: cyan;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px);
  font-size: 30px;
}

.t li a:hover {
  position: absolute;
  font-size: 80px;
  transition: 1s;
}

.p li a {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 80px;
  left: 50%;
  margin: 0;
  padding: 0 20px;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 32px green;
  font-family: "Limelight", cursive;
}

.p li a:after {
  position: absolute;
  padding: 0 20px;
  z-index: -1;
  color: green;
  filter: blur(15px);
  font-size: 30px;
}

.p li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: darkgreen;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px);
  font-size: 30px;
}

.p li a:hover {
  position: absolute;
  font-size: 80px;
  transition: 1s;
}
